    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #111;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.navbar nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:hover {
  color: red;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
  color: white;
}

.slogan {
  color: red;
  font-size: 20px;
  margin: 10px 0;
}

.subtitle {
  margin: 20px 0;
  color: #ccc;
}

.hero input {
  padding: 12px;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.hero button {
  padding: 12px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background: darkred;
}

.result {
  margin-top: 20px;
  background: #111;
  padding: 15px;
  border-radius: 5px;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #222;
}

.card h3 {
  color: red;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #aaa;
  font-size: 14px;
}
textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.result-box {
  background: #111;
  color: white;
  padding: 15px;
  margin-top: 15px;
  border-left: 4px solid red;
}

.translator {
  padding: 40px;
  text-align: center;
}
.btn{
  display:inline-block;
  padding:10px 14px;
  background:red;
  color:white;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}
.btn:hover{ opacity:0.9; }
.btn.danger{ background:#444; }
.sound-buttons{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.sound-buttons button{
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
  font-weight: bold;
}
.sound-buttons button:hover{
  opacity: 0.9;
}
